#main {
 display : flex ;
    flex-direction: column ;
    background: "blue" ;
    font-size: "30px" ;
}

form {
    position: absolute ;
        top : 30%;
        left: 30%;
    background: red ;
}